<div class="checkbox-inline">

  <h3>Rock Paper Scissors</h3>

  <form action='/start' class="radio-inline">

    <p>Select the level of game you want to play</p>
      <input type='radio' name='normal' class="btn btn-default"><span class="label label-default"> Normal</span>
      <br>
      <input type='radio' name='advanced' class="btn btn-default"><span class="label label-success">Advanced</span> - with Lizard and Spock options
      <br><br>


    <p>Select the mode you want to play</p>
      <input type='radio' name='single' class="btn btn-default"><span class="label label-primary">Single Player</span>
      <br>
      <input type='radio' name='multi' class="btn btn-default"><span class="label label-warning">Multi Player</span>
      <br><br>


    <input type='submit' value='Start Game' style='color: white; background-color: black;'>
  </form>
</div>
