<div class="checkbox-inline">

  <h3>Rock Paper Scissors</h3>

  <form action='/start' class="radio-inline">

    <p>Select the level of game you want to play</p>
      <input type='radio' id='normal' name='level' value='normal' class="btn btn-default"><span class="label label-default"> Normal</span>
      <br>
      <input type='radio' id='advanced' name='level' value='advanced' class="btn btn-default"><span class="label label-success">Advanced</span> - with Lizard and Spock options
      <br><br>


    <p>Select the mode you want to play</p>
      <input type='radio' id='single' name='mode' value='single' class="btn btn-default"><span class="label label-primary">Single Player</span>
      <br>
      <input type='radio' id='multi' name='mode' value='multi' class="btn btn-default"><span class="label label-warning">Multi Player</span>
      <br><br>


    <input type='submit' value='Start Game' style='color: white; background-color: black;'>
  </form>
</div>
